
<%- include('include/_header') %>

  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> Back</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Employee</h2>
            <span class="text-light">Use the below form to Update an account</span>
        </div>

         <form method="POST" id="update_user">
            <div class="new_user">
                <div class="form-group">
                    <label for="ids" class="text-light">Employee ID</label>
                    <input type="text" name="ids" value="<%= user.ids %>" required>
                </div>
                <div class="form-group">
                    <label for="name" class="text-light">Name</label>
                    <input type="text" name="name" value="<%= user.name %>" required>
                </div>
                <div class="form-group">
                    <label for="position" class="text-light">Position</label>
                    <input type="text" name="position" value="<%= user.position %>" required>
                </div>
                <div class="form-group">
                    <label for="salary" class="text-light">Salary</label>
                    <input type="text" name="salary" value="<%= user.salary %>" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>
            </div>
        </form>
        
       
    </div>
</main>

<%- include('include/_footer') %>
